
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  /* display: flex;
  flex-wrap: wrap; */
}

#head-layout{
  border: 2px solid red;
  width: 100%;
  height: 50px;
}

#aside-layout{
  border: 2px solid blue;
  height: 100;
  width: 200px;
}

#main-layout{
  border: 2px solid yellow;
  flex:1;

}

#footer-layout{
  border: 2px solid;
  width: 100%;
}

.flex {
  display: flex;
}

.flex-wrap{
  flex-wrap: wrap;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 600px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 20px;
}
@media (max-width:450px){
  .container {
    width: 250px
  }
}


